img {
    border-radius: 50%;
    width: 250px; 
    height: 250px;
  }

  tr:nth-child(odd) {
    background-color: #f2f2f2; 
  }

  tr:nth-child(even) {
    background-color: #ccc;
  }

  
  td {
    font-size: 27px;
  }